---
---

@import "{{ site.theme }}";

.container {
    max-width: 1000px;
}

p code,
li code {
    padding: 2px 4px;
    font-size: 90%;
    color: #c7254e;
    background-color: #1b1b1b;
    border-radius: 4px;
}

pre {
    white-space: pre-wrap;
}

figure.highlight {
    margin: 0;
    padding: 0;
}

/* 程序流控制面板容器 */
.program-flow-control-panel-container {
    padding: 2px 20px;
    background-color: #292b29;
}